{% block content %}
<h1>CRM Consumming API</h1>
<h2> Contracts list</h2>


<ul>
    {% for contract in contracts %}
    <li>contract number:{{ contract.contract_id }}</li>
    <li>customer:{{ contract.customer }}</li>
    <li>date_created:{{ contract.date_created }}</li>
    <li>status:{{ contract.status }}</li>
    <li>amount:{{ contract.amount }}</li>
    <li>payment_due:{{ contract.payment_due }}</li>
    {% empty %}
    <li>Sorry, no contracts in this list.</li>
    {% endfor %}
</ul>

{% endblock %}