{% block content %}
<h1>CRM Consumming API</h1>
<h2> Contracts list</h2>
<table border="1">
    <thead>
        <tr>
            <th>contract number</th>
            <th>customer</th>
            <th>date_created</th>
            <th>status</th>
            <th>amount</th>
            <th>payment_due</th>
        </tr>
    </thead>
    <tbody>
        {% for contract in contracts %}
        <tr>
            <th>{{ contract.contract_id }}</th>
            <td>{{ contract.customer }}</td>
            <td>{{ contract.date_created }}</td>
            <td>{{ contract.status }}</td>
            <td>{{ contract.amount }}</td>
            <td>{{ contract.payment_due }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}