<!-- customers/templates/customers/customer_list.html -->
<h1>All customers</h1>
{% for customer in object_list %}
<ul>
    <li>customer_id: {{ customer.customer_id }}</li>
    <li>first_name: {{ customer.first_name }}</li>
    <li>last_name: {{ customer.last_name }}</li>
    <li>email: {{ customer.email }}</li>
    <li>phone: {{ customer.phone }}</li>
    <li>mobile: {{ customer.mobile }}</li>
    <li>comapany_name: {{ customer.comapany_name }}</li>
    <li>date_created: {{ customer.date_created }}</li>
    <li>date_updated: {{ customer.date_updated }}</li>
</ul>
{% endfor %}